<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
		Name="$(var.AppName)"
		Language="1033"
		Version="$(var.ProductVersion)"
		UpgradeCode="$(var.UpgradeCode)"
		Manufacturer="$(var.Manufacturer)">

    <!-- Package Info -->
    <Package Description="$(var.AppName) by $(var.Manufacturer)"
			Comments= "$(var.AppName) by $(var.Manufacturer)"
			InstallerVersion="200"
			Compressed="yes"
			InstallScope="perMachine"
			InstallPrivileges="elevated"
		/>

    <Media Id="1"
		       Cabinet="contents.cab"
		       EmbedCab="yes"
		       CompressionLevel="high"/>

    <Icon Id="ProductIcon"
		      SourceFile="..\$(var.AppProject)\icon.ico"/>
    <Property Id="ARPPRODUCTICON"
		          Value="ProductIcon"/>
    <Property Id="ARPHELPLINK"
		          Value="$(var.AppLink)"/>
    <Property Id="ARPURLINFOABOUT"
		          Value="$(var.AppLink)"/>

    <!-- Define Installation Paths and Shortcuts -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORYHOME" Name="$(var.AppName)">
          <Directory Id="APPLICATIONROOTDIRECTORY" Name="$(var.ProductVersion)">
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolderHome" Name="$(var.AppName)">
          <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductVersion)"/>
        </Directory>
        <Directory Id="DesktopFolder" Name="Desktop"></Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <!--Include Components to be installed in Program Files Here-->
      
    </DirectoryRef>

    <!-- Remove Program Menu shortcut when uninstalled -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut"
                 Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="$(var.AppName) ($(var.ProductVersion))"
                  Description="$(var.AppName) by $(var.Manufacturer)"
                  Target="[#$(var.AppName).exe]"
                  Icon="ProductIcon"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="RemoveApplicationProgramsFolderHome"
                      Directory="ApplicationProgramsFolderHome"
                      On="uninstall"/>
        <RemoveFolder Id="RemoveApplicationProgramsFolder"
                      Directory="ApplicationProgramsFolder"
                      On="uninstall"/>
        <RegistryValue Root="HKCU"
                       Key="Software\Microsoft\$(var.Manufacturer)\$(var.AppName)\$(var.ProductVersion)"
                       Name="installed" Type="integer"
                       Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Remove Desktop shortcut when uninstalled -->
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop"
                 Guid="{DA767107-678C-432A-BC60-88E642E451EF}">
        <Shortcut Id="ApplicationDesktopShortcut"
                  Name="$(var.AppName) ($(var.ProductVersion))"
                  Description="$(var.AppName) by $(var.Manufacturer)"
                  Target="[#$(var.AppName).exe]"
                  Icon="ProductIcon"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="RemoveDesktopFolder"
                      Directory="DesktopFolder"
                      On="uninstall" />
        <RegistryValue Root="HKCU"
                       Key="Software\Microsoft\$(var.Manufacturer)\$(var.AppName)\$(var.ProductVersion)"
                       Name="installed" Type="integer"
                       Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <InstallExecuteSequence>
      <RemoveExistingProducts Before="InstallInitialize" />
    </InstallExecuteSequence>

    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <!--Include Component References here-->

      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
    </Feature>

    <!-- Display dialog to offer user run the application after installed succesfully -->
    <UI>
      <UIRef Id="WixUI_Minimal" />
      <Publish Dialog="ExitDialog"
          Control="Finish"
          Event="DoAction"
          Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT"
              Value="Launch $(var.AppName)" />

    <Property Id="WixShellExecTarget"
		          Value="[#$(var.AppName).exe]" />
    <CustomAction Id="LaunchApplication"
        BinaryKey="WixCA"
        DllEntry="WixShellExec"
        Impersonate="yes" />

    <!-- Asking user to install .NET 4.6.1 if it's not installed -->
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED"/>
    <Condition
			Message="$(var.AppName) requires .NET Framework 4.6.1 or higher. For more information, you can contact admin@junian.net.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED]]>
    </Condition>
  </Product>
</Wix>
